@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@font-face { 
	font-family: 'Yanone'; 
	src: url('../fonts/Yanone/YanoneKaffeesatz-Regular.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
@font-face { 
	font-family: 'Prompt'; 
	src: url('../fonts/Prompt/Prompt-Regular.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
* {
	box-sizing: border-box;
}
html {
	height: 100%;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	min-height: 100%;
	font-family: 'Yanone', sans-serif;
}
.header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: #BAC5FF;
	font-weight: bold;
	color: #3046BF;
	position: fixed;
	z-index: 1;
}
.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.33%;
	height: 100%;
	font-size: 35px;
	text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF; 
	font-family: 'Prompt', sans-serif;
}
.header__search {
	display: flex;
	justify-content: center;
	width: 33.33%;
}
.header__search input[type=search] {
	width: 100px;
	outline: none;
	background: #DFE4FF url(../images/search.png) no-repeat 10px center;
	border: none;
	padding: 10px 10px 10px 33px;
	border-radius: 50px;
	transition: width .5s;
}
.header__search input[type=search]:focus {
	width: 200px;
	background-color: #FFFFFF;
}
.header__bag {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 33.33%;
	height: 100%;
	font-size: 16px;
}
.header__bag--icon {
	font-size: 50px;
	cursor: pointer;
}
.header__bag--round {
	width: 20px;
	height: 20px;
	position: absolute;
	top: calc( 50% - 20px/2 + 5px);
	left: calc( 50% - 20px/2 );
	border-radius: 50%;
	background-color: #EF2A2A;
	color: #FFFFFF;
	font-size: 16px;
	padding: 3px 7px;
}
.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    width: 90%;
	position: relative;
	margin: 70px 0 65px 0;
}
.product {
    position: relative;
	width: 240px;
	background-color: #FFFFFF;
    text-align: left;
	margin: 15px 0 0 15px;
    padding: 10px;
    border: 1px solid rgba(186, 197, 255, .5);
	color: #3046BF;
}
.product:hover {
    box-shadow: -3px -3px 0 rgba(186, 197, 255, .5);
}
.product__img {
    display: block;
	width: 220px;
    margin-bottom: 10px;
    padding: 30px 10px;
    text-align: center;
    box-shadow : 0 0 20px 5px rgba(186, 197, 255, .2) inset;
}
.product__name h2 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	color:  #797979;
}
.product__description {
    font-size: 18px;
    font-weight: normal;
	margin-bottom: 10px;
    color: #000000;
}
.product__price {
    font-size: 20px;
	font-weight: bold;
    margin: 0;
	color:  #797979;
}
.product__button {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 30px;
	color:  #797979;
}
.product__button:hover {
	color: #3046BF;
	cursor: pointer;
}
.footer {
	display: flex;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	background-color: #BAC5FF;
	color: #3046BF;
	text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF; 
}
.footer__logo,
.footer__copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	font-size: 14px;
	font-family: 'Prompt', sans-serif;
}
.footer__logo {
	font-weight: bold;
	font-size: 18px;
}
.bag {	
	flex-direction: column;
	align-items: center;
	max-height: 50%;
	position: fixed;
	top: 25%;
	z-index: 2;
	border: 25px solid #DFE4FF;
	background-color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	display: none;
}
.bag_visible {
	display: flex;
}
.bag__buy {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	margin-left: 10px;	
}
.bag__buy caption {
	font-size: 30px;
	color:  #797979;	
	padding: 10px;
}
.bag__buy td {
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #DFE4FF;
}
.bag__sum td {
	color:  #797979;
	padding: 10px 5px;
}
.bag__buy--del {
	font-size: 25px;
	color: #FFB6B6;
	padding: 10px;
}
.bag__buy--del:hover {
	color: #EF2A2A;
	cursor: pointer;
}
.bag__sum--ok {
	font-size: 25px;
	color: #BCFF9F;
	padding: 10px;
}
.bag__sum--ok:hover {
	color: #2F9702;
	cursor: pointer;
}
.bag__close {
	position: absolute;
	top: -24px;
	right: -21px;
	font-size: 25px;
	color: #BAC5FF;
}
.bag__close:hover {
	color: #EF2A2A;
	cursor: pointer;
}
::-webkit-scrollbar {
    height: 0;
    width: 10px;
    background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    background: #D6D6D6;
}
@media screen and (max-width: 768px) {
	.header__logo {
		font-size: 30px;
		padding-left: 10px;
	}
	.header__search input[type=search]:focus {
		width: 150px;
	}
}
@media screen and (max-width: 480px) {
	.header__logo {
		font-size: 25px;
	}
	.header__search input[type=search]:focus {
		width: 120px;
	}
	.bag {	
		font-size: 16px;
	}
}